name: CI Pipeline MLOps

on:
  push:
    branches:
      - main

jobs:
  train-and-build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.19.0 pandas scikit-learn dagshub matplotlib seaborn

    - name: Run MLflow Training
      env:
        MLFLOW_TRACKING_URI: ${{ secrets.DAGSHUB_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_PASSWORD }}
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name Breast_Cancer_CI_Pipeline --run-name RandomForest_Tuning

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: ./MLProject
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/submission-mlops:latest